body {
  background-image: url("https://wallpapercave.com/wp/wp6032389.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff5c6;
}
/*Paleta de colores que con la que remplazar */

:root[data-theme="light"] {
  --text: #261b0d;
  --background: #faf6ef;
  --primary: #ff8c00;
  --secondary: #eeb877;
  --accent: #ce770d;
}
:root[data-theme="dark"] {
  --text: #f2e7d9;
  --background: #100c05;
  --primary: #ff8c00;
  --secondary: #885211;
  --accent: #f29b31;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
header {
  background-color: #100c05;
  color: #f2e7d9;
  padding: 1.5rem;
  text-align: center;
}
nav {
  background-color: #292929;
  padding: 0.8rem;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}
.hero {
  background-image: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f');
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section {
  padding: 2rem;
}
.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.category {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 150px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.book {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book:hover {
  transform: scale(1.05);
}

.book img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 250px;
  border-radius: 6px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #1a1a1a;
  color: white;
}